<div class="container">
<div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
    <div class="carousel-inner justify-content-center">
        <div class="d-flex flex-row justify-content-md-center">
         <div class="col col-lg-2"></div>
        <div class="col-md-auto">
      <div class="carousel-item active">
        <iframe class="d-flex w-150" src="https://player.twitch.tv/?channel=ramsreef&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="600"></iframe>
      </div>
      <div class="carousel-item ">
        <iframe class="d-flex w-150" src="https://player.twitch.tv/?channel=dashducks&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="600"></iframe>
      </div>
      <div class="carousel-item ">
        <iframe class="d-flex w-150" src="https://player.twitch.tv/?channel=marinemammalrescue&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="600"></iframe>
      </div>
      <div class="carousel-item ">
        <iframe class="d-flex w-150" src="https://player.twitch.tv/?channel=fluffletown&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
      </div>
      <div class="carousel-item ">
        <iframe class="d-flex w-150" src="https://player.twitch.tv/?channel=wildlifecam&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
      </div>

        </div>
        <div class="col col-lg-2"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>