<div class="container text-white">
    <div class="row">
        <form #postForm="ngForm" (ngSubmit)="addChannel(postForm.value)">
            <div class="input-group">
                <span class="input-group-text">
                    Category:
                </span>
                <input type="text" class="form-control" ngModel name="category">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Image:
                </span>
                <input type="text" class="form-control" ngModel name="img">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Language:
                </span>
                <input type="text" class="form-control" ngModel name="language">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Name:
                </span>
                <input type="text" class="form-control" ngModel name="name">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Thumbnail:
                </span>
                <input type="text" class="form-control" ngModel name="thumbnail">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Title:
                </span>
                <input type="text" class="form-control" ngModel name="title">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Viewers:
                </span>
                <input type="text" class="form-control" ngModel name="viewers">
            </div>

            <button type="submit" class="btn btn-secondary mt-2">Add Channel</button>
        </form>
    </div>
</div>
