.text-custom {
    color: white;
}

.font-custom {
    font-weight: 700;
    font-size: 10pt;
}

.name {
    font-weight: 600;
    font-size: 15pt;
}

.title {
    font-weight: 600;
    font-size: 12pt;
}

.lang-tag {
    background-color: rgb(61, 60, 60);
    color: rgb(173, 172, 172);
}

.lang-tag:hover {
    background-color: rgb(83, 83, 83);
}

.a-text {
    color: #a471f0;
    text-decoration: none;
}

a:hover {
    color:#803ee2;
    text-decoration: underline;
}
.a-button:hover {
    background-color: rgb(61, 60, 60);
    border-radius: 5px;
}

button {
    background-color: #9147ff;
}

button:hover {
    background-color: #793bd6;
}

.button-text {
    font-size: 11pt;
    font-weight: 600;
    border-radius: 6px;
}

.player-custom {
    width: 100%;
    height: 75%;
}

.chat-custom {
    background-color:#161616;
    
}

.chat-text {
    color: rgb(139, 136, 136);
}

.dropdown-custom {
    background-color: #303031;
    color: white;
    text-decoration: none;
}

.dropdown-custom:hover {
    background-color: #3f3f41;
    color: white;
    text-decoration: none;
}

.stream-chat {
    color: rgb(230, 227, 227);
}

.donator-text {
    font-size: 10pt;
    font-weight: 700;
    color: rgb(238, 236, 236);
}

.donator-number {
    font-size: 10pt;
    font-weight: 600;
    color: rgb(182, 180, 180);
}

.border-custom {
    border: 3px solid rgb(170, 6, 6);
}

.border-custom:hover {
    border: 4px solid rgb(211, 5, 5);

}

.img-border-custom {
    border: 1px solid #0e0e10;
}

.live-tag {
    background-color: #cc0906;
    font-weight: 700;
    border: 2px solid #0e0e10;
    border-radius: 5px;

}

.viewers {
    color: #ff8280;
    font-size: 11pt;
    font-weight: 600;
}

.a-button:hover {
    background-color: rgb(61, 60, 60);
    border-radius: 5px;
}

.name-button {
    text-decoration: none;
}

.name-button:hover {
    text-decoration: underline;
}