<div class="d-flex flex-row mt-2">

    <a href="#" class="position-relative border-custom rounded-circle">
        <img class="rounded-circle img-border-custom"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/edf49b3e-5f98-4b20-b448-035132d066a8-profile_image-70x70.png"
            alt="...">
        <span class="badge live-tag position-absolute top-100 start-50 translate-middle">LIVE</span>
    </a>

    <div class="col-8 ms-2">
        <div class="d-flex flex-row">
            <a href="#" class="name-button">
                <span class="text-custom name">MarineMammalRescue
                    <img src="assets\verified.png" alt="" height="12px">
                </span>
            </a>
        </div>
        <div class="d-flex flex-row">
            <span class="text-custom title">OTTERS! They're... everywhere. 🌊 Ocean Sounds ASMR</span>

        </div>

        <div class="d-flex flex-row">
            <a href="#" class="a-text">Animals, Aquariums, and Zoos</a>
            <span class="badge rounded-pill lang-tag ms-2">English</span>
            <span class="badge rounded-pill lang-tag ms-2">Educational</span>
            <span class="badge rounded-pill lang-tag ms-2">Family-Friendly</span>

        </div>



    </div>
    <div class="col-4">
        <div class="d-flex flex-row pb-1">
            <div class="col-auto me-2">
                <button class="btn text-custom button-text" type="button">
                    <svg class="pb-1 " width="15" height="20" fill="white">
                        <use xlink:href="assets/bootstrap-icons.svg#suit-heart" />
                    </svg>
                    Follow</button>
            </div>

            <div class="col-auto">
                <div class="dropdown">
                    <a class="btn dropdown-custom dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="pb-1 " width="15" height="20" fill="white">
                            <use xlink:href="assets/bootstrap-icons.svg#star" />
                        </svg>
                        Subscribe: 20% off
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="col-3">

            </div>
            <div class="col- ms-2 me-2">
                <span class="viewers">
                    <img src="assets\Viewer_Icon.png" alt="">
                    842</span>
            </div>

            <div class="col-auto">
                <span>4:20:69</span>
            </div>

            <div class="col-auto mx-3">
                <a href="#" class="a-button p-1">
                    <img src="assets\share.png" alt="">
                </a>
            </div>

            <div class="col-auto">
                <a href="#" class="a-button p-1">
                    <svg width="20" height="25" fill="white">
                        <use xlink:href="assets/bootstrap-icons.svg#three-dots-vertical" />
                    </svg>
                </a>
            </div>

        </div>


    </div>

</div>