<div class="card card-custom text-custom" style="width: 20rem;">
    <a href="#"><img src="https://static-cdn.jtvnw.net/previews-ttv/live_user_dashducks-440x248.jpg" width="100%" height="100%" alt="...">
        <span class="badge position-absolute top-0 start-0 m-2 live-tag py-1">LIVE</span>
        <span class="badge position-relative m2 viewers-tag py-1">347 viewers</span>
    </a>
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="col-2">
                <a href="#"><img class="rounded-circle"
                        src="https://static-cdn.jtvnw.net/jtv_user_pictures/1be7f247-c32a-41df-b8ba-3486fe995b79-profile_image-50x50.png"
                        height="43px" alt="..."></a>
            </div>

            <div class="col-9 text-nowrap">
                <div class="d-flex flex-row">
                    <a href="#" class="title a-text">
                        <p class="card-text title">Relax and enjoy our views. PEASfull day on the pond.</p>
                    </a>
                </div>
                <div class="d-flex flex-row">
                    <a href="#" class="subtitle a-text">
                        <p class="card-text">Dash Ducks</p>
                    </a>
                </div>
                <div class="d-flex flex-row">
                    <a href="#" class="subtitle a-text">
                        <p class="card-text">Animals, Aquariums, and Zoos</p>
                    </a>
                </div>
                <a href="#">
                    <div>
                        <span class="badge rounded-pill text-white lang-tag">English</span>
                    </div>
                </a>
            </div>

            <div class="col-1 px-2">
                <a href="#" class="a-button">
                    <svg class="bi pt-0 pb-1" width="17" height="22" fill="white">
                        <use xlink:href="assets/bootstrap-icons.svg#three-dots-vertical" />
                    </svg>
                </a>
            </div>


        </div>
    </div>
</div>