<div class="card card-custom text-custom channel-card" >
    <a href="#"><img src={{thumbnail}} width="100%" height="100%" alt="...">
        <span class="badge position-absolute top-0 start-0 m-2 live-tag py-1">LIVE</span>
        <span class="badge position-relative m2 viewers-tag py-1"> {{viewers}} viewers</span>
    </a>
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="col-2">
                <a href="#"><img class="rounded-circle"
                        src={{img}}
                        height="43px" alt="..."></a>
            </div>

            <div class="col-9 text-nowrap">
                <div class="d-flex flex-row">
                    <a href="#" class="title a-text">
                        <p class="card-text title">{{title}}</p>
                    </a>
                </div>
                <div class="d-flex flex-row">
                    <a href="#" class="subtitle a-text">
                        <p class="card-text">{{name}}</p>
                    </a>
                </div>
                <div class="d-flex flex-row">
                    <a href="#" class="subtitle a-text">
                        <p class="card-text">{{category}}</p>
                    </a>
                </div>
                <a href="#">
                    <div>
                        <span class="badge rounded-pill text-white lang-tag">{{language}}</span>
                    </div>
                </a>
            </div>

            <div class="col-1 px-2">
                <a href="#" class="a-button">
                    <svg class="bi pt-0 pb-1" width="17" height="22" fill="white">
                        <use xlink:href="assets/bootstrap-icons.svg#three-dots-vertical" />
                    </svg>
                </a>
            </div>


        </div>
    </div>
</div>