.description {
    background-color:#1f1f22 ;
}

.des-title {
    font-size: 14pt;
    font-weight: 700;
}

.des-subtitle {
    font-size: 11pt;
    font-weight: 600;
    color: rgb(170, 170, 170);
}

.des-body {
    font-size: 11pt;
    font-weight: 600;
    color: rgb(224, 221, 221);
}

.des-links {
    text-decoration: none;
    font-size: 10.5pt;
    font-weight: 600;
    color: rgb(165, 162, 162);
}

.des-links:hover {
    text-decoration: none;
    font-size: 10.5pt;
    font-weight: 600;
    color: rgb(221, 113, 113);
}