<div class="d-flex flex-row pt-4">
    <h3 class="text-custom">Browse</h3>
</div>

<app-category-bar></app-category-bar>

<div class="d-flex flex-row pt-2 font-custom">
    <div class="col-auto pe-4">
        <a href="#" class="link-custom">
            <span class="bar-item ">Categories</span>
        </a>
    </div>

    <div class="col-auto pe-4">
        <a href="#" class="link-custom">
            <span class="bar-item ">Live channels</span>
        </a>
    </div>
</div>


<app-filter-bar></app-filter-bar>


<div class="d-flex flex-row">
    <div class="col-1 me-2" *ngFor="let category of categories">
    <app-category-card
    img={{category.img}}
    name={{category.name}}
    viewers={{category.viewers}}
    tag={{category.tag}}
    ></app-category-card>
</div>

</div>