<div class="d-flex flex-row pt-4 mt-2">
    <div class="col-auto">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/272263131-144x192.jpg" alt="...">
    </div>
    <div class="col-auto ms-4">
        <div class="d-flex flex-row mt-4">
            <h3 class="text-custom">Animals, Aquariums, and Zoos</h3>
        </div>
        <div class="d-flex flex-row">
            <span class="text-custom font-custom">2.3K Viewers</span>
            <svg class="bi pb-2" width="30" height="40" fill="white">
                <use xlink:href="assets/bootstrap-icons.svg#dot" />
            </svg>
            <span class="text-custom font-custom">65.2K Followers</span>
            <svg class="bi pb-2" width="30" height="40" fill="white">
                <use xlink:href="assets/bootstrap-icons.svg#dot" />
            </svg>
            <a href="#">
                <span class="badge rounded-pill text-white lang-tag">IRL</span>
            </a>
        </div>

        <div class="d-flex flex-row">
            <button class="btn text-custom button-text" type="button">
                <svg class="pb-1 " width="15" height="25" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#suit-heart" />
                </svg>
                Follow</button>
        </div>

    </div>
</div>

<div class="d-flex flex-row pt-4 font-custom">
    <div class="col-auto pe-4">
        <a href="#" class="link-custom">
            <span class="bar-item ">Live Channels</span>
        </a>
    </div>

    <div class="col-auto pe-4">
        <a href="#" class="link-custom">
            <span class="bar-item ">Videos</span>
        </a>
    </div>

    <div class="col-auto pe-4">
        <a href="#" class="link-custom">
            <span class="bar-item ">Clips</span>
        </a>
    </div>
</div>

<div class="d-flex flex-row text-custom pt-4 pb-2">
    <div class="col-auto">
        <div class="d-flex flex-row">
            <div class="col-4">
                <div class="input-group flex-nowrap search-custom ms-1 rounded search-size">
                    <div class="search-icon">
                        <svg class="bi pt-2" href="#" width="28" height="23" fill="white">
                            <use xlink:href="assets/bootstrap-icons.svg#search" />
                        </svg>
                    </div>
                    <input type="text" class="form-control search-custom " placeholder="Search Tags">
                </div>
            </div>
            <a href="#" class="ms-2">
                <span class="badge rounded-pill lang-tag tag-font ">
                    English
                    <svg class="" width="15" height="25" fill="grey">
                        <use xlink:href="assets/bootstrap-icons.svg#x" />
                    </svg>
                </span>
            </a>
            <span class="text-custom text-2 pt-1 mx-3">Trending</span>

            <a href="#" class=" other-tag rounded-pill">
                <span class="badge rounded-pill tag-font border border-dotted">
                    Animals
                    <svg class="" width="15" height="25" fill="grey">
                        <use xlink:href="assets/bootstrap-icons.svg#plus" />
                    </svg>
                </span>
            </a>

            <a href="#" class="ms-2 other-tag rounded-pill">
                <span class="badge rounded-pill tag-font border border-dotted">
                    Family Friendly
                    <svg class="" width="15" height="25" fill="grey">
                        <use xlink:href="assets/bootstrap-icons.svg#plus" />
                    </svg>
                </span>
            </a>

            <a href="#" class="ms-2 other-tag rounded-pill">
                <span class="badge rounded-pill tag-font border border-dotted">
                    Visual ASMR
                    <svg class="" width="15" height="25" fill="grey">
                        <use xlink:href="assets/bootstrap-icons.svg#plus" />
                    </svg>
                </span>
            </a>

        </div>
        
    </div>

    <div class="col-2">
        
    </div>

    <div class="col-3">
        <div class="d-flex flex-row">
            <div class="col-3"></div>
            <div class="col-2">
                <span class="small-text pt-4 pe-2">Sort by</span>
            </div>

            <div class="col-6">
                <div class="dropdown">
                    <a class="btn dropdown-custom dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Reccomended For You
                    </a>
                  </div>
            </div>
        </div>

    </div>
</div>

<div class="d-flex flex-row ">
    <app-channel-card></app-channel-card>
</div>