<div class="d-flex flex-row pt-2">
    <div class="col-auto">
        <a href="">
            <img src="assets\Games.png" alt="#" width="95%">
        </a>
    </div>
    <div class="col-auto">
        <a href="">
            <img src="assets\IRL.png" alt="#" width="95%">
        </a>
    </div>
    <div class="col-auto">
        <a href="">
            <img src="assets\Music.png " alt="#" width="95%">
        </a>
    </div>
    <div class="col-auto">
        <a href="">
            <img src="assets\Esports.png" alt="#" width="95%">
        </a>
    </div>
    <div class="col-auto">
        <a href="">
            <img src="assets\Creative.png" alt="#" width="95%">
        </a>
    </div>

</div>
