<div class="d-flex flex-column text-white side mt-10 sidebar-custom p-2 "
    style="width: 255px; height: 100vh; font-family: 'Inter', sans-serif; font-weight: 600;">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="text-nowrap position-absolute start-0 m-2" style="font-size: 12pt;">FOLLOWED CHANNELS</span>
    </a>

    
    <app-followed-channels></app-followed-channels>
    <app-followed-channels></app-followed-channels>
    <app-followed-channels></app-followed-channels>


    

</div>