<div class="d-flex flex-column  p-3 text-white side  sidebar-custom " style="width: 280px; height: 100vh; font-family: 'Inter', sans-serif; font-weight: 600;" >
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="">FOLLOWED CHANNELS</span>
    </a>

    <a href="#" class="text-white text-decoration-none">
        <img class="rounded-circle m-2"src="assets\Best-TA.jpg" height="35px" alt="" style="margin: 4px;">
        Nikola!
        <img class="m-2 position-relative end-0"src="assets\dot.svg" height="35px" alt="" style="margin: 4px; fill: red;">
    </a>
    
  </div>
