<div class="d-flex flex-row text-custom">
<div class="d-flex col-9" style="height: 56rem">
    <iframe class="d-flex player-custom" src="https://player.twitch.tv/?channel=marinemammalrescue&parent=localhost"
        frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="600"></iframe>
</div>

<div class="flex-column side chat-custom side" style="width: 100%;">
    <div class="d-flex flex-row chat-custom border-top border-secondary p-2 justify-content-between">
        <div class="col-2">
            <a href="#" class="a-button p-1">
                <svg class="bi" href="#" width="28" height="23" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#arrow-bar-right" />
                </svg>
            </a>
        </div>

        <div class="col-9 ps-5">
            <span class="ps-3 font-custom">STREAM CHAT</span>
        </div>

        <div class="col-1">
            <a href="#" class="a-button p-1">
            <svg class="bi" href="#" width="28" height="23" fill="white">
                <use xlink:href="assets/bootstrap-icons.svg#arrow-bar-right" />
            </svg>
        </a>
        </div>

    </div>

    <div class="flex-row border-top py-4 justify-content-between">
        <div class="col-1">
            <a href="#" class="a-button p-1">
                <svg class="bi" href="#" width="23" height="18" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-left" />
                </svg>
            </a>
        </div>

        <div class="col-auto">
                <div class="flex-row">
                    Placeholder
                </div>
        </div>

        <div class="col-1">
            <a href="#" class="a-button p-1">
                <svg class="bi" href="#" width="23" height="18" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-right" />
                </svg>
            </a>
        </div>

    </div>

    <div class="flex-row p-2 px-4 border-top">
        <span class="chat-text">Welcome to the chat room!</span>
    </div>

</div>
</div>