.text-custom {
    color: white;
}

.font-custom {
    font-weight: 700;
    font-size: 10pt;
}

.a-button:hover {
    background-color: rgb(61, 60, 60);
    border-radius: 5px;
}

.player-custom {
    width: 100%;
    height: 75%;
}

.chat-custom {
    background-color:#161616;
    
}

.chat-text {
    color: rgb(139, 136, 136);
}

.stream-chat {
    color: rgb(230, 227, 227);
}

.donator-text {
    font-size: 10pt;
    font-weight: 700;
    color: rgb(238, 236, 236);
}

.donator-number {
    font-size: 10pt;
    font-weight: 600;
    color: rgb(182, 180, 180);
}

