<div class="d-flex flex-row text-custom">
<div class="d-flex col-9" style="height: 56rem">
    <iframe class="d-flex player-custom" src="https://player.twitch.tv/?channel=marinemammalrescue&parent=localhost"
        frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="600"></iframe>
</div>

<div class="flex-column side chat-custom side" style="width: 100%;">
    <div class="d-flex flex-row chat-custom border-top border-secondary p-2 justify-content-between">
        <div class="col-2">
            <a href="#" class="a-button p-1 pb-1">
                <svg class="bi" href="#" width="28" height="23" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#arrow-bar-right" />
                </svg>
            </a>
        </div>
        <div class="col-9 ps-5">
            <span class="ps-3 font-custom stream-chat">STREAM CHAT</span>
        </div>

        <div class="col-1">
            <a href="#" class="a-button p-1 pb-2">
            <img src="assets\Users.png" alt="">
        </a>
        </div>

    </div>

    <div class="d-flex flex-row border-top py-4">
        <div class="col-1">
            <a href="#" class="a-button p-1">
                <svg class="bi" href="#" width="23" height="18" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-left" />
                </svg>
            </a>
        </div>

        <div class="col-10 ">
            <div class="d-flex flex-row">
            <div class="col-5 px-3">
                <div class="d-flex flex-row">
                    <div class="col-3 me-2">
                        <img src="https://static.twitchcdn.net/assets/GiftBadge-Gold_72-6e5e65687a6ca6959e08.png" alt="" width="150%">
                    </div>
                    <div class="col-9 ms-2">
                        <div class="d-flex flex-row">
                            <span class="text-custom donator-text"> ThomasRDevine</span>
                        </div>
                        <div class="d-flex flex-row">
                                <img src="https://static-cdn.jtvnw.net/badges/v1/47308ed4-c979-4f3f-ad20-35a8ab76d85d/2" alt="" width="20%" height="20%">
                            
                                <span class="ms-2 donator-number">69</span>
                        
                             
                        
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-6 px-3 ms-3">
                <div class="d-flex flex-row pb-2">
                    <img src="https://static.twitchcdn.net/assets/GiftBadge-Silver_36-bb7c268e0452a2cdcc8d.png" alt="" width="15%" height="15%">
                    <span class="donator-text ps-1">Nikola.J</span>
                    <img class="ps-1" src="https://static-cdn.jtvnw.net/badges/v1/47308ed4-c979-4f3f-ad20-35a8ab76d85d/2" alt="" width="15%" height="15%">
                    <span class="ms-2 donator-number">50</span>
                </div>
                <div class="d-flex flex-row">
                    <img src="https://static.twitchcdn.net/assets/GiftBadge-Bronze_36-fd0ee2ef5196b3414a2f.png" alt="" width="15%" height="15%">
                    <span class="donator-text ps-1">SussyBakka</span>

                    <img class="ps-1" src="https://static-cdn.jtvnw.net/badges/v1/bffca343-9d7d-49b4-a1ca-90af2c6a1639/2" alt="" width="15%" height="15%">
                    <span class="ms-2 donator-number">20</span>
                </div>
            </div>
        

        <div class="col-1">
            <a href="#" class="a-button p-1">
                <svg class="bi" href="#" width="23" height="18" fill="white">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-right" />
                </svg>
            </a>
        </div>
    </div>

    </div>
    </div>

    <div class="flex-row p-2 px-4 border-top">
        <span class="chat-text">Welcome to the chat room!</span>
    </div>

</div>
</div>