<nav class="navbar navbar-dark navbar-custom">
    <div class="container-fluid">
        <li class="nav ">
            <a class="navbar-brand" href="#">
                <img src="assets\5968819.png" alt="" width="30">
            </a>
            <a class="nav-link fs-5 hover" href="#">Following</a>
            <a class="nav-link fs-5 hover" href="#">Browse</a>
            <svg xmlns="http://www.w3.org/2000/svg" href="#" width="18" fill="white" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
        </li>
            <form class="d-flex ">
                <input class="form-control me-2 bg-dark " type="search" placeholder="Search" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20"  fill="grey" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </form>

              <li>
              <img src="assets\prime.png" alt="" width="30">
              <img src="assets\Notifications.png" alt="" width="30">
              <img src="assets\whisper.png" alt="" width="30">
              </li>

    </div>
</nav>