<app-carousel></app-carousel>
      <div class="d-flex flex-row">
        <div>
          <p class="text-custom font-custom">Live channels we think you’ll like</p>
        </div>
      </div>
      <div class="d-flex flex-row">

        <div class="col-auto me-3" *ngFor="let channel of channels">
          <app-channel-card 
            img={{channel.img}}
            [viewers]= 'channel.viewers'
            thumbnail={{channel.thumbnail}}
            name={{channel.name}}
            title={{channel.title}}
            language={{channel.language}}
            category={{channel.category}}
          ></app-channel-card>
        </div>

      </div>
      <div class="col-2">

      </div>
